{% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SRS{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="{% static "js/csrf.js" %}"></script>
    <script src="{% static "js/kanji.js" %}"></script>
    <script>
        $(document).ready(function() {
            setupCsrfForAjax();
        });
    </script>
</head>

<body>
{% block body %}{% endblock %}
</body>
</html>