{% extends "internal_base.html" %}

{% block content %}
<h1>Dashboard</h1>
<div>
    {% if discovery_queue_size == 1 %}
        You have 1 new item in your discovery queue.
    {% else %}
        You have {{ discovery_queue_size }} new items in your discovery queue.
    {% endif %}
    <a href="{% url 'discover' %}">Discover them now!</a>
</div>
<div>
    {% if review_queue_size == 1 %}
        You have 1 item in your review queue.
    {% else %}
        You have {{ review_queue_size }} items in your review queue.
    {% endif %}
    <a href="{% url 'review' %}">Review them now!</a>
</div>
{% endblock %}