{% extends "srs/srs_base.html" %}

{% load staticfiles %}

{% block app %}

<div class="review" ng-controller="ReviewController as review" ng-init="review.init()">
    {% verbatim %}
    <div class="review-header">
        REVIEW
        <span class="review-stat">
            {% endverbatim %}<img class="correct" src="{% static "icon/level-up.svg" %}" alt="Words correct">{% verbatim %}
            {{ review.correctPercentage | percentage:0 }}
        </span>
        <span class="review-stat">
            {% endverbatim %}<img class="check" src="{% static "icon/check.svg" %}" alt="Words finished">{% verbatim %}
            {{ review.finished.length }}/{{ review.wordCount }}
        </span>
    </div>
    <form   class="review-form cf"
            ng-class="{'meaning-prompt': review.prompt == 'meaning', 'reading-prompt': review.prompt == 'reading'}"
            ng-show="review.prompt != null">
        <p class="word">{{ review.word.word }}</p>
        <input id="review-input"
               type="text"
               placeholder="{{review.placeholder}}"
               autocomplete="off"
               autocorrect="off"
               autocapitalize="off"
               spellcheck="false"
               ng-readonly="review.doNextOnEnter"
               ng-model="review.inputString"
               ng-class="{'guess-correct': review.feedback == 'correct', 'guess-wrong': review.feedback == 'wrong'}"
               srs-enter="review.check()"
               srs-focus="review.prompt != null">
        <button class="next" ng-show="review.feedback != ''" ng-click="review.next()"><span>&rarr;</span></button>
    </form>
    <div ng-show="review.prompt == null">
        <p>You finished your reviews with {{ review.correctPercentage | percentage:0 }} accuracy!</p>
    </div>

    <div class="review-hint pure-g" ng-show="review.doNextOnEnter">
        <div class="pure-u-1-3" ng-show="review.prompt == 'meaning'">
            Meanings
        </div>
        <div class="pure-u-2-3" ng-show="review.prompt == 'meaning'">
            {{review.word.meanings.join(', ')}}
        </div>
        <div class="pure-u-1-3" ng-show="review.prompt == 'reading'">
            Readings
        </div>
        <div class="pure-u-2-3" ng-show="review.prompt == 'reading'">
            {{review.word.readings.join(', ')}}
        </div>
    </div>
    {% endverbatim %}
</div>

{% endblock %}
