{% extends "srs/srs_base.html" %}

{% block app %}

<div ng-controller="ReviewController as review" ng-init="review.init()">
    <h1>Review</h1>

    {% verbatim %}
    <form   class="review-meaning review cf"
            ng-class="{'review-meaning': review.prompt == 'meaning', 'review-reading': review.prompt == 'reading'}"
            ng-show="review.prompt != null">
        <p class="word">{{ review.word.word }}</p>
        <input id="review-input" class="review-input"
               type="text" placeholder="{{review.placeholder}}"
               autocomplete="off"
               autocorrect="off"
               autocapitalize="off"
               spellcheck="false"
               ng-readonly="review.doNextOnEnter"
               ng-model="review.inputString"
               ng-class="{'guess-correct': review.feedback == 'correct', 'guess-wrong': review.feedback == 'wrong'}"
               srs-enter="review.check()"
               srs-focus="review.prompt != null">
        <button class="next" ng-show="review.feedback != ''" ng-click="review.next()"><span>&rarr;</span></button>
    </form>
    <div ng-show="review.prompt == null">
        <p>You finished your reviews!</p>
    </div>
    <div ng-show="review.doNextOnEnter">
        <p ng-show="review.prompt == 'reading'">Readings: {{review.word.readings.join(', ')}}</p>
        <p ng-show="review.prompt == 'meaning'">Meanings: {{review.word.meanings.join(', ')}}</p>
    </div>
    {% endverbatim %}
</div>

{% endblock %}
